In [9]:
from sqlalchemy import create_engine
import pandas as pd

In [15]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost' 
POSTGRES_PORT = '5433'
POSTGRES_USERNAME = 'postgres' 
POSTGRES_PASSWORD = 'marek951'
POSTGRES_DBNAME = 'PDT'

In [16]:
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME, password=POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS, port=POSTGRES_PORT, dbname=POSTGRES_DBNAME))

In [17]:
cnx = create_engine(postgres_str)

In [18]:
pd.read_sql_query('''SELECT * FROM tweets LIMIT 5;''', cnx)

,id,content,location,retweet_count,favorite_count,happened_at,author_id,country_id,parent_id
0,1220798251919536128,Virologist Who Helped Fight SARS Says Wuhan Co...,None,0,0,2020-01-24 19:59:19+00:00,280887543,None,None
1,1220798255098777601,RT @Chn_analysis: @thespybrief @hiemakene Dail...,None,15,0,2020-01-24 19:59:20+00:00,519245371,None,1220786987143192578
2,1220790544009519104,RT @badiucao: Another video showing medics fro...,None,6784,0,2020-01-24 19:28:41+00:00,1036627006962720768,None,1220729514000633858
3,1220798255992201217,RT @Adrienne711: @MBJ8388 @FederalistNo78 @jai...,None,4,0,2020-01-24 19:59:20+00:00,1133475349285691393,None,1220796312565796865
4,1220798256608878598,RT @Gadi3232: The Chinese government has block...,None,438,0,2020-01-24 19:59:20+00:00,3278713214,None,1220777199734792192